<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
</head>
<body>

<p>Update Car:</p>

<hr>

<form th:method="PATCH" th:action="@{/{id}/editCar(id=${formEditCar.getId()})}" th:object="${formEditCar}">

    <label for="modelCar">Model Car</label>
    <input type="text" th:field="*{model}" id="modelCar">

    <br>

    <label for="equipment">Equipment</label>
    <input type="text" th:field="*{equipment}" id="equipment">

    <br>

    <label for="yearRelease">Year Release</label>
    <input type="text" th:field="*{yearRelease}" id="yearRelease">

    <input type="submit" value="Update car">

</form>

<hr>

<a th:href="@{http://localhost:8080/{id}(id=${formEditCar.getId()})}">Back</a>

</body>
</html>