<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark</title>
</head>
<body>

<p>Model: Toyota Mark-2</p>

<br>

<p th:text="'Equipment: ' + ${equipment}">...</p>
<p th:text="'Release: ' + ${release}">...</p>

<hr>

<p>Specifications:</p>

<br>

<p th:text="'Engine: ' + ${engine}">...</p>
<p th:text="'Volume: ' + ${volume}">...</p>
<p th:text="'Power: ' + ${power}">...</p>
<p th:text="'Expenditure: ' + ${expenditure}">...</p>

<hr>

<a href="http://localhost:8080/">Back lobby</a>

</body>
</html>