<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Japan car</title>
</head>
<body>

<p>Technical specifications:</p>

<hr>

<p th:text="'Model: ' + ${openCar.getModel()}">...</p>
<p th:text="'Equipment: ' + ${openCar.getEquipment()}">...</p>
<p th:text="'Year release: ' + ${openCar.getYearRelease()}">...</p>

<hr>

<a th:href="@{/{id}/editCar(id=${openCar.getId()})}">Update Car</a>

<br>

<a href="http://localhost:8080/">Back</a>

<hr>

<form th:method="DELETE" th:action="@{/{id}(id=${openCar.getId()})}" th:object="${openCar}">
    <input type="submit" value="Delete car">
</form>

</body>
</html>